body{
    margin: 0 auto;
    background-color: darkgray;
    height: 900px;
    font-family: 'Open Sans Condensed', sans-serif;
}
ul{list-style: none;
    margin: 0;
    padding: 0;}

a:link{
    text-decoration: inherit
}

header{
    height: 58px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 5
}

#logo{
    margin-top: 0.40%;
    margin-left: 0.60%;
    float: left;
}

header ul{
    float: right; 
    display: inline-flex; 
    margin-top: 0.50%;
}

header ul img{
    height: 45px;
    width: auto:;
    opacity: 0.7;
    transition: 0.2s
}

header ul img:hover{opacity: 1}

#plus{
    margin-top: 0.75%;
    margin-right: 1%;
    float: right;
    height: 40px;
    width: auto;
    opacity: 0.7;
}
#plus:hover{opacity: 1}


nav{
    margin-top: 58px;
    float: left;
    z-index: 2;
    height: 100%;
    width: 9.5%;
    z-index: 4;
    box-shadow: 2px 0px 80px black ;
    position: absolute
}
/*nav:hover{width: 17.8%;}*/

nav ul{
    text-align: center;
    font-size: 30px;
}

nav li{
    height: 150px;
    width: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: auto 40%;
    transition: 0.5s
}

nav li:hover{
    background-size: auto 60%;
    padding-right: 55%;
    box-shadow: 8px 0px 80px black ;
}

section{
    background-color: black;
    height: 116.7%;
    margin-left: 9.5%;
    padding-top: 58px;
    z-index: 3;
    width: 90.5%
}

section h1{
    text-align: center; 
    font-size: 70px; 
    margin: 0; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    color: white; 
    background-color: #f1ca30;
    transition: 0.7s
}

section h2{
    text-align: center;
    font-size: 50px;
    padding-top: 16%;
    text-shadow: 1px 1px white;
    transition: 0.7s
}

#Banner{
    height: 50%;
    width: 100%;
    background-color: black;
    color: #f1ca30;
    background-image: url(Imagens/Banner/Destaque/jurassic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    margin-top: -42px;
    opacity: 0.9
}


section ul{
    display: inline-flex; 
    background-color: black;
    height: 415px;
    width: 100%;
    clear: both;
}

section li{
    height: 415px;
    width: 305px;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    transition: 0.5s;
}
section li:hover{opacity: 1}

footer{background-color: white; height: 54px;}